.success-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}
.success-wrapper h1 {
  margin: 0;
  /* padding: 2rem; */
  font-size: 3rem;
  /* color: #05B6D3; */
  font-weight: 400;
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
  /* background-color: rgba(5, 182, 211, .05); */
  /* border: solid 1px #05B6D3; */
  border-radius: 5px;
}
.success-wrapper h1 i {
  font-size: 1.3rem;
  border: solid 3px #05b6d3;
  border-radius: 50%;
  padding: 1rem;
}
.success-wrapper a {
  text-decoration: none;
}
.users-heading {
  text-align: left;
  padding: 2rem;
  /* color: #000; */
}
.p-message,
.p-message-wrapper,
div[data-pc-name="messages"] {
  width: 100%;
}
.table {
  height: 300px;
  padding: 2rem;
}
@media (max-width: 600px) {
  .success-wrapper {
    width: 100%;
  }
  .success-wrapper h1 {
    font-size: 2rem;
    text-align: left;
  }
  .users {
    width: 100vw;
    overflow-x: auto;
  }
  .table {
    width: 1000px;
  }
}
