form {
  width: 500px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}
h1 {
  text-align: center;
  color: #05B6D3;
  font-weight: 400;
}
textarea{
    max-width: 100%;
}

@media (max-width: 768px) {
  form {
    width: 100vw;
  }
}
